[submodule "dotbot"]
	path = dotbot
	url = https://github.com/armaturae/dotbot
[submodule "alacritty"]
	path = alacritty
	url = https://github.com/armaturae/alacritty
[submodule "bash"]
	path = bash
	url = https://github.com/armaturae/bash
[submodule "awesome"]
	path = awesome
	url = https://github.com/armaturae/awesome
[submodule "git"]
	path = git
	url = https://github.com/armaturae/git
[submodule "starship"]
	path = starship
	url = https://github.com/armaturae/starship
[submodule "readline"]
	path = readline
	url = https://github.com/armaturae/readline
[submodule "tmux"]
	path = tmux
	url = https://github.com/armaturae/tmux
[submodule "tmuxp"]
	path = tmuxp
	url = https://github.com/armaturae/tmuxp
[submodule "wtfutil"]
	path = wtfutil
	url = https://github.com/armaturae/wtfutil
[submodule "xorg"]
	path = xorg
	url = https://github.com/armaturae/xorg
[submodule "ctags"]
	path = ctags
	url = https://github.com/armaturae/ctags
[submodule "neovim"]
	path = neovim
	url = https://github.com/armaturae/neovim
[submodule "external/fzf"]
	path = external/fzf
	url = https://github.com/junegunn/fzf
[submodule "external/gopass"]
	path = external/gopass
	url = https://github.com/gopasspw/gopass
[submodule "external/rofi-pass"]
	path = external/rofi-pass
	url = https://github.com/carnager/rofi-pass
[submodule "external/vim-plug"]
	path = external/vim-plug
	url = https://github.com/junegunn/vim-plug
[submodule "rofi"]
	path = rofi
	url = https://github.com/armaturae/rofi
[submodule "stig"]
	path = stig
	url = https://github.com/armaturae/stig.git
